

<main>
    <div class="content">
        
        <p>Please enter your credentials to log in: </p>
        

        <form method="POST" action="/login">
            <div class="fields">
                <input type="text" name="email" id="email" placeholder="you@youremail.com" />
                <label for="email">The email address you used to sign up.</label>

                <input type="text" name="password" id="password" placeholder="password" />
                <label for="password">The password you chose when you created your account.</label>

                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button class="button" id="submit" type="submit">Log In</button>
                <label for="submit" class="show">{{message}}</label>
            </div>
            
        </form>
        
        

        <p>Don't have an account yet? <a href="/register">Register here!</a></p>
        
    </div>
</main>    