
<h2>REGISTER TO PETITION-PLATFORM</h2>

<form method="POST" action="/register">
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <input type="text" name="email" placeholder="youraddress@youremail.com" />
    <input type="text" name="password" placeholder="password" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">REGISTER</button>
</form>

<h3>{{messageFillAllFields}}</h3>

<p>Already have an account? <a href="/login">Login here!</a></p>
