{{>status}}

<h2>SIGN THE PETITION</h2>

<form method="POST" action="/sign-petition">
    <input type="hidden" name="signature" id="signatureData" />
    <canvas id="signatureCanvas" width="300", height="50"></canvas>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">SIGN</button>
</form>

<h3>{{message}}</h3>
<script src="/sign.js"></script>