

<main>
    <div class="content">
        
        <h2>Thank you for cycling, <br>{{userName}}!</h2>
        <img src="{{signature}}" alt="Signature">
        <p><a href="/signees">You're in good company</a></p>
        
            <form class="unsign" class="link" method="POST" action="/unsign-petition">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                Changed your mind? Click 
                <button class="link" type="submit">here</button>
                to remove your Signature.
            </form>   
        
        <h3>{{message}}</h3>

        
    </div>
</main>    


